<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head th:replace="userCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="userCommon::common-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="userCommon::common-sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Personal Information</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toUserMain}">HomePage</a></li>
                    <li class="breadcrumb-item active">Personal Information</li>
                </ol>

                <div class="card mb-4">
                    <table class="table table-hover">
                        <tr>
                            <td text-align="center">Member Account:</td>
                            <td th:text="${member.memberAccount}"></td>
                        </tr>
                        <tr>
                            <td text-align="center">Name:</td>
                            <td th:text="${member.memberName}"></td>
                        </tr>
                        <tr>
                            <td text-align="center">Gender:</td>
                            <td th:text="${member.memberGender}"></td>
                        </tr>
                        <tr>
                            <td text-align="center">Age:</td>
                            <td th:text="${member.memberAge}"></td>
                        </tr>
                        <tr>
                            <td text-align="center">Contact Information:</td>
                            <td th:text="${member.memberPhone}"></td>
                        </tr>
                        <tr>
                            <td text-align="center">Height:</td>
                            <td th:text="${member.memberHeight}"></td>
                        </tr>
                        <tr>
                            <td text-align="center">Weight:</td>
                            <td th:text="${member.memberWeight}"></td>
                        </tr>
                    </table>
                    <div style="text-align:center;margin-bottom:15px">
                        <a th:href="@{/user/toUpdateInfo}">
                            <input type="button" class="btn btn-outline-primary" value="Update">
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="userCommon::common-footer"></footer>
    </div>
</div>

<div th:include="userCommon::common-scripts"></div>
</body>
</html>
