<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.mapper.EquipmentMapper">

    <select id="findAll" resultType="equipment">
        SELECT *
        FROM equipment
        WHERE active = true
    </select>

    <update id="deleteByEquipmentId" parameterType="java.lang.Integer">
        UPDATE equipment
        SET active = false
        WHERE equipment_id = #{equipmentId}
    </update>

    <update id="enableByEquipmentId" parameterType="java.lang.Integer">
        UPDATE equipment
        SET active = true
        WHERE equipment_id = #{equipmentId}
    </update>

    <insert id="insertEquipment" parameterType="equipment">
        INSERT INTO equipment (equipment_name, equipment_status, equipment_message, room_id)
        VALUES (#{equipmentName}, #{equipmentStatus}, #{equipmentMessage}, #{roomId})
    </insert>

    <update id="updateEquipmentByEquipmentId" parameterType="equipment">
        UPDATE equipment
        SET equipment_name     = #{equipmentName},
            equipment_status   = #{equipmentStatus},
            equipment_message  = #{equipmentMessage},
            room_id            = #{roomId}
        WHERE equipment_id = #{equipmentId}
    </update>

    <select id="selectByEquipmentId" parameterType="java.lang.Integer" resultType="equipment">
        SELECT *
        FROM equipment
        WHERE equipment_id = #{equipmentId}
    </select>

    <select id="selectTotalCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM equipment
        WHERE active = true
    </select>

</mapper>