<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head th:replace="employeeCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="employeeCommon::common-navbar"></nav>
<div id="layoutSidenav">
  <div th:replace="employeeCommon::common-sidenav"></div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Update Requested Course Information</h1>

        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a th:href="@{/staff}">HomePage</a></li>
          <li class="breadcrumb-item"><a th:href="@{/staff/myRequestedCourse}">Requested Course Management</a></li>
          <li class="breadcrumb-item active">Update Requested Course Information</li>
        </ol>

        <div class="card mb-4">

          <form th:action="@{/staff/updateRequestedCourse}" method="post" name="updateForm"
                onsubmit="return beforeSubmit(this)">
            <table class="table table-hover">
              <tr>
                <td text-align="center">Course ID</td>
                <td><input type="text" class="form-control" readonly="readonly"
                           th:value="${course.courseId}" name="courseId">
                </td>
              </tr>
              <tr>
                <td text-align="center">Name:</td>
                <td><input type="text" class="form-control" th:value="${course.courseName}"
                           name="courseName"></td>
              </tr>
              <tr>
                <td text-align="center">Course Begin</td>
                <td><input type="text" class="form-control" th:value="${course.courseBegin}"
                           name="courseBegin">
                </td>
              </tr>
              <tr>
                <td text-align="center">Duration</td>
                <td><input type="text" class="form-control" th:value="${course.courseTime}"
                           name="courseTime">
                </td>
              </tr>
              <tr>
                <td text-align="center">Price</td>
                <td><input type="number" class="form-control" th:value="${course.price}"
                           name="price">
                </td>
              </tr>
              <tr>
                <td text-align="center">Course Type</td>
                <td><input type="text" class="form-control" th:value="${course.courseType}"
                           name="courseType">
                </td>
              </tr>
            </table>
            <div style="text-align:center;margin-bottom:15px">
              <input type="submit" class="btn btn-outline-success" value="Update">
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer th:replace="employeeCommon::common-footer"></footer>
  </div>
</div>

<div th:include="employeeCommon::common-scripts"></div>
</body>
</html>
